@model List<SteamAPIWebApplication.Models.BasicContents.DotaHeroes>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var items in Model)
{
    <div class="col-md-1">
        <img src='http://cdn.dota2.com/apps/dota2/images/heroes/@items.hero_image_sb' width="59" height="36" alt="@items.name" title='hero name = @items.name' />
        @*<li>@items.localized_name</li>*@
    </div>
}
