@model List<SteamAPIWebApplication.Models.BasicContents.DotaHeroes>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var items in Model)
{
    <div class="col-md-1">
        <img src="#" width="64" height="64" alt="@items.name" title='hero name = @items.name' />
        @*<li>@items.localized_name</li>*@
    </div>
}
